{% extends 'meotec/base.html' %}

{% load i18n mptt_tags meotec_tags %}

{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block h1 %}{% trans "Dashboard" %}{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(function() {
            var well = $('.half .well > div'),
                node_list = $('.node-list li :checkbox').change(function() {
                    var box = $(this);
                    if (box.attr('checked')) {
                        box.parents('.node:first').find(':checkbox').attr('checked', 'checked');
                        box.parents('.add-on').addClass('active');
                        box.parents('.node:first').find('.add-on').addClass('active');
                    } else {
                        box.parents('.node:first').find(':checkbox').removeAttr('checked');
                        box.parents('.add-on').removeClass('active');
                        box.parents('.node:first').find('.add-on').removeClass('active');
                    }
                });

            $('.manager-list a').click(function(e) {
                var link = $(e.target);
                $('.manager-list').hide();
                well.html('<div class="loading"/>');
                $.get(link.attr('href'), function(response) {
                    well.html(response);
                });
                e.preventDefault();
            });

            $('form').live('submit', function(e) {
                e.preventDefault();

                var form = $(e.target),
                    nodes = [];

                $('input[name=nodes]:checked').each(function(i, obj) {
                    nodes.push($(obj).val());
                });

                var data = {
                        'nodes': nodes
                    },
                    dorm_data = form.serializeArray();
                for (var i=0; i<dorm_data.length; i++) {
                    data[dorm_data[i].name] = dorm_data[i].value;
                }
                $.ajax({
                    url: form.attr('action'),
                    data: data,
                    beforeSend: function() {
                        well.html('<div class="loading"/>');
                    },
                    complete: function(jqXHR, textStatus) {
                        well.html(jqXHR.responseText);
                    }
                });
            });

            $('form').live('reset', function(e) {
                well.html('');
                $('.manager-list').show();
                e.preventDefault();
            });

            $('.answers .back').live('click', function(e) {
                well.html('');
                $('.manager-list').show();
                e.preventDefault();
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="half">
            <h3>{% trans "Objects" %}</h3>
            <ul class="node-list">
            {% recursetree nodes %}
            <li class="node">
                <label class="input-prepend">
                    <span class="add-on"><input type="checkbox" name="nodes" value="{{ node.id }}"/></span>
                    <span class="uneditable-input">{{ node }}</span>
                </label>
                {% if not node.is_leaf_node %}
                <ul>
                    {{ children }}
                </ul>
                {% endif %}
            </li>
            {% endrecursetree %}
            </ul>
        </div>
        <div class="half">
            <h3>{% trans "Commands" %}</h3>
            <div class="well" style="padding: 8px 0;">
                <ul class="manager-list nav nav-list">
                    {% for manager in managers %}
                    <li class="nav-header">{{ manager }}</li>
                        {% for command in manager.commands_sorted %}
                        <li><a href="{% url meotec:run_init manager.id command|class_name %}"><i class=" icon-play-circle"></i> {{ command.title }} - {{ command.help }}</a></li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                <div></div>
            </div>
        </div>
    </div>
{% endblock %}