{% extends 'meotec/base.html' %}

{% load i18n %}

{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block h1 %}{% trans "Dashboard" %}{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(function() {
            var well = $('.half .well'),
                server_list = $('.server-list li :checkbox').change(function() {
                    var box = $(this);
                    if (box.attr('checked'))
                        box.parent().find(':checkbox').attr('checked', 'checked');
                    else
                        box.parent().find(':checkbox').removeAttr('checked');
                }),
                check_servers = $('#check-servers').change(function() {
                    if (check_servers.attr('checked'))
                        server_list.attr('checked', 'checked');
                    else
                        server_list.removeAttr('checked');
                });
            $('.manager-list li > a.btn').click(function(e) {
                var link = $(e.target);
                well.html('<div class="loading"/>');
                $.get(link.attr('href'), function(response) {
                    well.html(response);
                });
                e.preventDefault();
            });
            $('form').live('submit', function(e) {
                e.preventDefault();

                var form = $(e.target),
                    servers = [],
                    sites = [];

                $('input[name=server]:checked').each(function(i, obj) {
                    servers.push($(obj).val());
                });
                $('input[name=site]:checked').each(function(i, obj) {
                    sites.push($(obj).val());
                });

                var data = {
                        'servers': servers,
                        'sites': sites
                    },
                    dorm_data = form.serializeArray();
                for (var i=0; i<dorm_data.length; i++) {
                    data[dorm_data[i].name] = dorm_data[i].value;
                }
                $.ajax({
                    url: form.attr('action'),
                    data: data,
                    beforeSend: function() {
                        well.html('<div class="loading"/>');
                    },
                    complete: function(jqXHR, textStatus) {
                        well.html(jqXHR.responseText);
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="half">
            <h3><input type="checkbox" id="check-servers"/> {% trans "Servers" %}</h3>
            <ul class="server-list">
            {% for server in servers %}
                <li><input type="checkbox" name="server" value="{{ server.id }}"/> {{ server }}
                    <ul>
                    {% for site in server.site_set.all %}
                        <li><input type="checkbox" name="site" value="{{ site.id }}"/> {{ site }}</li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="half">
            <div class="well">
                <ul class="manager-list">
                {% for manager in managers %}
                    <li>{{ manager }}
                        <ul>
                    {% for command in manager.commands_sorted %}
                        <li><a class="btn" href="{% url meotec:run_init manager.id command.name %}">{{ command.title }}</a> - {{ command.help }}</li>
                    {% endfor %}
                    </ul>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}