{% load i18n %}
<h3>{{ title }}</h3>
<form action="{{ path }}" method="POST" class="form-horizontal">
    <fieldset>{% csrf_token %}
        {{ form.as_bootstrap }}
        <div class="form-actions">
            <button type="submit" class="btn btn-danger">
                <i class="icon-fire icon-white"></i>
                {% trans 'Run' %}
            </button>
            <button type="reset" class="btn">
                <i class="icon-remove"></i>
                {% trans 'Cancel' %}
            </button>
        </div>
    </fieldset>
</form>