{% extends 'meotec/base.html' %}

{% load i18n mptt_tags meotec_tags %}

{% block title %}{% trans "Settings" %}{% endblock %}
{% block h1 %}{% trans "Settings" %}{% endblock %}

{% block content %}
    <form action="" method="post" class="content">
        <div class="half">
            <ul class="node-list">
            {% recursetree nodes %}
                <li class="node">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ node }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            {% if not node.is_root_node %}
                            <li><a href="{% url meotec:node_edit node.id %}"><i class="icon-pencil"></i> Edit</a></li>
                            <li class="divider"></li>
                            {% endif %}
                            {% if node.possible_children %}
                                {% for Entity in node.possible_children %}
                                    <li><a href="{% url meotec:node_add node.id Entity.class_path %}"><i class="icon-plus"></i> {{ Entity|class_name }}</a></li>
                                {% endfor %}
                            <li class="divider"></li>
                            {% endif %}
                            <li><a href="{% url meotec:node_del node.id %}"><i class="icon-trash"></i> {% if node.is_root_node %}{% trans "Clear" %}{% else %}{% trans "Delete" %}{% endif %}</a></li>
                        </ul>
                    </div>
                    {% if not node.is_leaf_node %}
                        <ul>
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
            </ul>
        </div>
        <div class="half">
            <div class="line-h">
                <h3>{% trans "Managers" %}
                    <a class="btn" href="{% url meotec:manager_add %}"><i class="icon-plus"></i> {% trans "Manager" %}</a>
                    <a class="btn text btn-success right" href="{% url meotec:manager_update %}"><i class="icon-repeat icon-white"></i> {% trans "Update" %}</a></h3>
                <ul class="manager-list">
                {% for manager in managers %}
                    <li><a href="{% url meotec:manager_edit manager.id %}">{{ manager }}</a>
                        <ul>
                            <li>{% trans "Entities" %}
                                <ul>
                                    {% for entity in manager.entities_sorted %}
                                    <li><strong>{{ entity|class_name }}</strong></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li>{% trans "Commands" %}
                                <ul>
                                {% for command in manager.commands_sorted %}
                                    <li><strong>{{ command.title }}</strong> - {{ command.help }}</li>
                                {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </form>
{% endblock %}